<h1>Welcome to Banana Coding, <%= %></h1> 
You have successfully signed up to bananacoding.com,
your username is: <b style="color: red;"><%= @user.email %>.</b><br>

<p>
  Something about pregnancy on <b style="color: blue;"> <%= @date %>!</b>
</p>

<p>Thanks for joining and have a great day!</p>