<h1>Welcome to Banana Coding, <%= %></h1> 
You have successfully signed up to bananacoding.com,
your username is: <%= @user.email %>.<br>

<p>
  Something about pregnancy on <%= @date %>!
</p>

<p>Thanks for joining and have a great day!</p>